html, body {
     background-color: black;
     color: whitesmoke;
     font-family: 'Anonymous Pro', monospace;
     font-size: 16px;
     scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1980px;
    position: relative;
}

p {
     font-size: 1.5rem;
}

h1 {
     font-size: 5rem;
}

nav {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999;
}

a {
     color: whitesmoke;
     text-decoration: none;
}

a:hover {
     color: maroon;
     text-decoration: underline;
}

a:active {
     text-decoration: none;
     color: rgb(80, 0, 0);
}

.header-navigation {
     padding: 0 0 0 0;
     margin: 0.5rem auto;
     width: calc(100% - 50px);
     list-style: none;
     display: flex;
     justify-content: space-between;
     align-items: stretch;
     gap: 0px 35px;
}

.intro {
     width: 100%;
     max-width: 1980px;
     height: 100%;
     position: relative;
}

.portrait {
     height: auto;
     width: 60%;
     margin-left: 40%;
     z-index: 1;
}

.intro-text {
     position: absolute;
     z-index: 2;
     top: 30%;
     left: 3%;
}

.highlighted-text {
     color: maroon;
     font-weight: 700;
}

.about {
     display: flex;
     align-content: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
     column-gap: 100px;
     margin: 0 auto;
     padding-top: 60px;
     max-width: 1440px;
}

.about-text {
     display: inline-block;
     max-width: 400px;
}

@media screen and (max-width: 1024px) {
     h1 {
          font-size: 3rem;
     }
     
     p {
          font-size: 1rem;
     }
     .about-text {
          max-width: 250px;
     }
}

@media screen and (max-width: 600px) {
     html, body {
          font-size: 12px;
     }
     h1 {
          font-size: 2rem;
     }
     
     p {
          font-size: 1rem;
     }
     .about {
          padding-top: 30px;
     }
}

@media screen and (max-width: 480px) {
     .header-navigation {
          width: calc(100% - 20px);
          gap: 0px 5px;
     }
}
