html, body {
     background-color: black;
     color: whitesmoke;
     font-family: 'Anonymous Pro', monospace;
     font-size: 16px;
     scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1980px;
    position: relative;
}

p {
     font-size: 1.5rem;
}

h1 {
     font-size: 5em;
}

nav {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header-navigation {
     padding: 0 0 0 0;
     margin: 0.5rem auto;
     width: calc(100% - 50px);
     list-style: none;
     display: flex;
     justify-content: space-between;
     align-items: stretch;
     gap: 0px 35px;
}

.intro {
     width: 100%;
     max-width: 1980px;
     height: 100%;
     position: relative;
}

.portrait {
     height: auto;
     width: 60%;
     margin-left: 40%;
     z-index: 1;
}

.intro-text {
     position: absolute;
     z-index: 2;
     top: 30%;
     left: 3%;
}

.highlighted-text {
     color: maroon;
     font-weight: 700;
}

